body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(165,168,173);
    margin: 50px;
}

.textbox {
    height: 70px;
    width: 800px;
    margin-top: -10px;
    margin-left: 40px;
}

.titel{
    padding-top: 10px;
    margin-left: 20px;
}



